name: SimplyTranslate build

on: [workflow_dispatch]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3.3.0
      
      - run: sudo apt-get install -y ca-certificates git nodejs npm tar zip
      - uses: actions/setup-go@v4

      - run: |
          mkdir simplytranslate
          cd simplytranslate/
          git clone --depth 1 https://codeberg.org/SimpleWeb/SimplyTranslate
          cd SimplyTranslate/
          go mod download
          GOARCH=amd64 GOOS=linux go build -o simplytranslate_linux_x86_64
          mv simplytranslate_linux_x86_64 ../
          GOARCH=amd64 GOOS=windows go build -o simplytranslate_windows_x86_64.exe
          mv simplytranslate_windows_x86_64.exe ../
          mv views/ ../
          mv static/ ../
          cd ../../
          tar -czvf simplytranslate_linux_x86_64.tar.gz simplytranslate/simplytranslate_linux_x86_64       simplytranslate/views   simplytranslate/static
          zip       simplytranslate_windows_x86_64.zip  simplytranslate/simplytranslate_windows_x86_64.exe simplytranslate/views/* simplytranslate/static/*
          mv simplytranslate_linux_x86_64.tar.gz binaries/
          mv simplytranslate_windows_x86_64.zip binaries/
          rm -fr simplytranslate/

      - run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add -A
          git commit -m "Update SimplyTranslate binaries"

      - uses: ad-m/github-push-action@v0.6.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          branch: main
